<p style="color: green"><%= notice %></p>

<h1><%= t("activerecord.models.task") %></h1>

<%= render "task_unit", task: @task %>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render "task_unit", task: task %>
  <% end %>
</div>

