<p style="color: green"><%= notice %></p>

<h1 class="header panel">Articles</h1>

<div id="articles" class="panel">
  <% @articles.each do |article| %>
    <%#= render article %>
    <%= render "form", article: article %>
    <p>
  <% end %>
</div>

<div class="sticky-bottom form panel">
  <%= render "form", article: @article %>
</div>
