body {
  background-color: #111;	
  color: #CCC;
}

.task_unit {
  background-color: #444;
  color: #CCC;
  margin: 0.3em; 
  padding: 1em;
  border-radius: 0.5em;
  width: 50em;
  float: left;
}

.form_wrapper {
  float: left;
}

input.title {
  font-size: 1.5em;
}

label {
  font-size: 0.8em;
}

.text_container {
  width: 25em;
}

.text_container input {
  width: 90%;
}

.numbers_container {
  display: flex;
  align-items: flex-end;
  float: left;
  width: 15em;
}

.number input {
  font-size: 1.2em;
  width: 80%;
}

.button {
  font-size: 1.4em;
  margin-top: 0.3em;
  padding: 0.3em;
  margin-left: 0.5em;
}

.flex1 {
display: flex;
flex-direction: row;
}

.h_full {
  width: 100%;
}

.flex_v {
display: flex;
flex-direction: column;
}

.flex_h {
display: flex;
flex-direction: row;
}

.button_wrapper {
  border-width: 1px;
  border-color: red;
  width: 4.5em;
}

.button_wrapper input {
  width: 90%;
  height: 90%;
}
